
.nav-item-right {
  padding: 0 10rem 0 0;
}

.nav-item-left {
  padding: 0 0 0 10rem;
}

.app-container {
  justify-content: center;
  border: 3px solid #eee;
  border-radius: 10px;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2rem auto;
}

.container {
  padding: 20px;
}

.add-input {
  margin-right: 5px;
  width: 80%;
}

.icon {
  cursor: pointer;
}

.icons {
  visibility: hidden;
}

.icon-edit {
  font-size: 25px;
}

.icon-delete {
  font-size: 30px;
}

.text-make-selection {
  font-style: italic;
  color: #bbb
}
.list-name {
  cursor: pointer;
}

.addButton {
  width: 2em;
  height: 2em;
  position: relative;
}

.button-text {
  position: absolute;
  top: -25%;
  left: 0%;
  right: 0%;
}

.sidebar {
  padding-top: 10px;
}